#progresso {
  margin-top: 64px;
  z-index: 101;
  position: fixed;
}

#content {
  // padding: 65px 20px 30px 20px;
  // background-image: url("../../../assets/images/mbr-14.jpg");
}

#toolbar-logo {
  max-height: 35px;
  margin-right: 15px;

}

mat-toolbar{
  background-color: black;
}
